<!DOCTYPE html>
<html>
  <head>
    <title>{{ challenge.name }} | Cryptoctf</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail/style.css' %}" />
    <meta charset="utf-8">
  </head>
  <body style="margin:6px;">
    <b>{{ challenge.name }}</b> -- {{challenge.pt}} points

    <hr>
    <pre>
    {{challenge.description}}
    </pre>
    <hr>

    solved {{challenge.times}} times, early 30 solvers are:
    <select>
        {% for e in solvers %}
        <option>{{ e }}</option>
        {% endfor %}
    </select>

    Attachment: <a href="{% url 'adminEdit:download' id%}">{{challenge.attachment}}</a>

    <br>

    <form action="{% url 'submit:check' id%}" method="post">{% csrf_token %}
        Flag: <input type="text" name="flag" />
        <input type="submit" value="Submit" class="btn"/>
    </form>
    <div class="footer">
      <hr>
      <a href="/">Return to homepage</a>
    </div>
  </body>
</html>
