<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
    <title>Cryptoctf</title>
  </head>
  <body>
    <ul class = "sidenav">
      <li><a href="#Krill">Krill</a></li>
      <li><a href="#Sardine">Sardine</a></li>
      <li><a href="#Tuna">Tuna</a></li>
      <li><a href="#Shark">Shark</a></li>
      <li><a href="#Whale">Whale</a></li>
      {% if not request.user.is_authenticated %}
      <li class = "right"><a href="{% url 'account:signin' %}"><b>Sign in</b></a></li>
        or
      <li class = "right"><a href="{% url 'account:signup' %}"><b>Sign up</b></a></li>
      {% else %}
      <li class = "right"><a href="{% url 'account:signout' %}"><b>Sign out</b></a></li>
      <li class = "right"><span>hello, {{ request.user.username }}! your point: {{ pt }}</span></li>
      {% endif %}
    </ul>
  <!-- Paramecium -->


  <pre>
   .o88b. d8888b. db    db d8888b. d888888b  .d88b.   .o88b. d888888b d88888b
  d8P  Y8 88  `8D `8b  d8' 88  `8D `~~88~~' .8P  Y8. d8P  Y8 `~~88~~' 88'
  8P      88oobY'  `8bd8'  88oodD'    88    88    88 8P         88    88ooo
  8b      88`8b      88    88~~~      88    88    88 8b         88    88~~~
  Y8b  d8 88 `88.    88    88         88    `8b  d8' Y8b  d8    88    88
   `Y88P' 88   YD    YP    88         YP     `Y88P'   `Y88P'    YP    YP
  </pre>
  <div>
    <hr>
    <div id="krill" class="question_level"><b>Krill</b></div>
    <ul>
        {% for e in krill %}
        <li><a href="{% url 'index:detail' e.id%}"><b>{{ e.name }}</b></a> from <b>{{e.author}}</b></li>
        {% endfor %}
    </ul>

    <!-- <table class="table">
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in krill %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->


    <hr>

    <div id="Sardine" class="question_level"><b>Sardine</b></div>
    <ul>
        {% for e in sardine %}
        <li><a href="{% url 'index:detail' e.id%}"><b>{{ e.name }}</b></a> from <b>{{e.author}}</b></li>
        {% endfor %}
    </ul>

    <!-- <table class="table">
      <tbody>
        {% for e in sardine %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

    <hr>

    <div id="Tuna" class="question_level"><b>Tuna</b></div>
    <ul>
        {% for e in tuna %}
        <li><a href="{% url 'index:detail' e.id%}"><b>{{ e.name }}</b></a> from <b>{{e.author}}</b></li>
        {% endfor %}
    </ul>

    <!-- <table class="table">
      <tbody>
        {% for e in tuna %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
    <hr>

    <div id="Shark" class="question_level"><b>Shark</b></div>
    <ul>
        {% for e in shark %}
        <li><a href="{% url 'index:detail' e.id%}"><b>{{ e.name }}</b></a> from <b>{{e.author}}</b></li>
        {% endfor %}
    </ul>
    <!-- <table class="table">
      <tbody>
        {% for e in shark %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

    <hr>

    <div id="Whale" class="question_level"><b>Whale</b></div>
    <ul>
        {% for e in whale %}
        <li><a href="{% url 'index:detail' e.id%}"><b>{{ e.name }}</b></a> from <b>{{e.author}}</b></li>
        {% endfor %}
    </ul>
    <!-- <table class="table">
      <tbody>
        {% for e in whale %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

    <hr>
  </div>
  <body>
</html>
