<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
    <title>Cryptoctf</title>
  </head>
  <body>

    <ul class = "sidenav">
      <li><a href="#krill">Krill</a></li>
      <li><a href="#sardine">Sardine</a></li>
      <li><a href="#tuna">Tuna</a></li>
      <li><a href="#shark">Shark</a></li>
      <li><a href="#whale">Whale</a></li>
      {% if not request.user.is_authenticated %}
      <li class = "right"><a href="{% url 'account:signin' %}"><b>Sign in</b></a></li>
        or
      <li class = "right"><a href="{% url 'account:signup' %}"><b>Sign up</b></a></li>
      {% else %}
      <li class = "right"><a href="{% url 'account:signout' %}"><b>Sign out</b></a></li>
      <li class = "right"><span>hello, {{ request.user.username }}! your point: {{ pt }}</span></li>
      {% endif %}
    </ul>
  <!-- Paramecium -->

  <div style="height:50px;"></div>
  <!-- height of navigation. -->
  <pre>
   .o88b. d8888b. db    db d8888b. d888888b  .d88b.   .o88b. d888888b d88888b
  d8P  Y8 88  `8D `8b  d8' 88  `8D `~~88~~' .8P  Y8. d8P  Y8 `~~88~~' 88'
  8P      88oobY'  `8bd8'  88oodD'    88    88    88 8P         88    88ooo
  8b      88`8b      88    88~~~      88    88    88 8b         88    88~~~
  Y8b  d8 88 `88.    88    88         88    `8b  d8' Y8b  d8    88    88
   `Y88P' 88   YD    YP    88         YP     `Y88P'   `Y88P'    YP    YP
  </pre>
  <div>
    <hr>

    <table class="table">
      <caption>
        <div id="krill" class="question_level"><b>Krill -- level 1</b></div>
      </caption>
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in krill %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr>

    <table class="table">
      <caption><div id="sardine" class="question_level"><b>Sardine -- level 2</b></div></caption>
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in sardine %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <hr>

    <table class="table">
      <caption><div id="tuna" class="question_level"><b>Tuna -- level 3</b></div></caption>
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in tuna %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <hr>


    <table class="table">
      <caption><div id="shark" class="question_level"><b>Shark -- level 4</b></div></caption>
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in shark %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <hr>

    <table class="table">
      <caption><div id="whale" class="question_level"><b>Whale -- level 5</b></div></caption>
      <thead>
        <th class = "header">ID</th>
        <th class = "header">Challenge</th>
        <th class = "header">Author</th>
        <th class = "header">Points</th>
      </thead>
      <tbody>
        {% for e in whale %}
        <tr>
          <td>{{ e.id }}</td>
          <td><a href="{% url 'index:detail' e.id%}">{{ e.name }}</a></td>
          <td>{{ e.author }}</td>
          <td>{{ e.pt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr>

  </div>
  <div class = "bottom">
    authors
    <div>
      authors
    </div>
  </div>
  <body>
</html>
